.social_share_privacy {width:100%;}
.social_share_privacy_area ul {position:relative;}
.social_share_privacy_area li {float:left; list-style-type:none !important; list-style:none !important;}
.social_share_privacy_area li .dummy_btn {cursor:pointer;}

/* Tooltips */
.social_share_privacy .dropdown {border:1px solid #ccc; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; -moz-box-shadow:0 3px 4px #999; -webkit-box-shadow:0 3px 4px #999; box-shadow:0 3px 4px #999; background-color:#F7F7F7; color:#000; z-index:500; padding:4px 5px; font-weight: bold;}
.social_share_privacy_area li {position:relative;}
.social_share_privacy_area li span.info {position:absolute; bottom:35px;}

/* Info & Option dropdown */
.social_share_privacy_area .psb_info {position:absolute; bottom:8em; width:150px;}
.social_share_privacy_area #option-dropdown label.checked {color:#090;}
.social_share_privacy_area div#option-dropdown {position:absolute; bottom:-6em; float:left;}

/* Services */
.social_share_privacy_area li div {width:100px;}
.social_share_privacy_area .twitter {width:80px;}
.social_share_privacy_area .facebook {width: 125px; padding-right:10px;}
.social_share_privacy_area .identica {width:125px;}
.ui-icon-identica { background-image: url("../images/identica-share-button.png") !important; }
.ui-icon-identica-dummy { background-image: url("../images/dummy_identica.png") !important; }

.count-o {
    position: relative;
    float: right;
    top: 3px;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #bbb;
    min-height: 18px;
    min-width: 15px;
    max-width: 30px;
    text-align: center;
    visibility: visible;
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 0 0 0 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
#count {
    color: #333;
}
#count:hover, #count:focus {
    color: #333;
    text-decoration: underline;
}
.count-o i, .count-o u {
    border: 4px transparent solid;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #aaa transparent -moz-use-text-color;
    border-style: solid solid solid none;
    border-width: 4px 4px 4px 0;
    border-right-color: #aaa;
    height: 0;
    left: 0;
    line-height: 0;
    margin: -4px 0 0 -4px;
    position: absolute;
    top: 50%;
    width: 0;
}
.count-o u {
	border-right-color: #fff;
    margin-left: -3px;
}